  body{
 font-family: 'Rubik', sans-serif;
  }
  .container{
    max-width:1340px!important;
  }
  .top-header-section{
    background-color: #3fbfc8;
    padding: 15px 0px;
  }
  .email-section ul{
    display: flex;
  margin-bottom: 0px;
  }
  .email-section ul >li{
    padding: 0px 12px;
  }
  .email-section ul> li> a{
    color:#fff;
    font-size: 18px;
}
.email-section ul >li >a:hover{
text-decoration: none;
color: #0e9c87;
  }
  .email-section ul >li >a >i{
    padding-right: 12px;
    }
.top-social-links{
  float: right;
}
.help-text{
font-size: 18px;
color: #fff;
}
.help-text i{
     color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    font-size: 14px;
    padding: 2px 4px;
    margin-left: 5px;

  }
.top-social-links ul{
  display: flex;
  margin-bottom: 0px;
}
.top-social-links ul>li{
  padding: 0px 10px;
}
.top-social-links ul>li>a{
  color: #fff;
  font-size: 19px;
  }
  .top-social-links ul>li> a:hover{
color: #0e9c87;
  }
.header-section{
  padding: 18px 0px;
}

.mobile-menu{
display: none;
}
.menu-section ul{  
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-bottom: 0px;
    padding-left: 0px;
}
.menu-section ul >li >a{
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    padding: 15px 15px;
    font-family: 'Kulim Park', sans-serif;
}

.header-section .row{
align-items: center;
}
.menu-section ul >li >a:hover{
color: #43b7a6;
}
.menu-section .current-menu-item a {
    position: relative;
    color: #43b7a6!important;
}
.menu-section .current-menu-item a:after {
    content: "";
    background:#43b7a6;
    height: 4px;
    width: 70%;
    position: absolute;
    bottom: -26px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.sticky-header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99999;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ddd;
   
}
    #nav-icon1 {
          float: right;
  width: 32px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span{
  display: block;
  position: absolute;
  height:4px;
  width: 100%;
  background:#3fbfc7;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
}
#nav-icon1 span:nth-child(2) {
  top: 10px;
}
#nav-icon1 span:nth-child(3) {
  top: 20px;
}
#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.mobile-menu{
  display: none;
}

.pdd0{
  padding: 0px 5px;
}


.scrolltop {
  display: none;
   width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 999999;
}
.scroll {
    position: absolute;
    right: 20px;
    border-radius: 5px;
    bottom: 20px;
    background:rgb(35, 64, 142);
    padding: 10px 15px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.scroll .fa {
    font-size: 29px;
    margin-top: -5px;
    margin-left: 1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    color: #fff;
}

.scroll:hover {
    background:rgb(49, 164, 221);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.footer-section{
  background-color: #f0f5f8;
    padding: 50px 0px;
}
.footer-box img{
  margin: auto;
  display: block;
}
.footer-social{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.footer-social >li{
        background-color: #3fbfc8;
    border-radius: 25px;
    margin: 0px 5px;
   }
.footer-social >li:hover{
  background-color:#43b7a6;
    }
    .footer-social >li:hover a{
      text-decoration: none;
}
.footer-social >li>a{
 height: 40px;
 width: 40px;
    color: #fdfdfd;
    display: flex;
 align-content: center;
    justify-content: center;
    font-size: 20px;
}
.footer-social > li > a >i{
    display: flex;
    align-items: center;
  }
.footer-box h4{
      color: #e0e0e0;
    font-size: 18px;
  margin: 7px 11px 0px 0px;
}
.footer-box p{
      font-size: 19px;
    text-align: center;
    color: #676161;
        padding: 30px 0px;
}
.footer-line{
max-width: 1000px;
}
.bottom-footer-section{
  background-color: #e1e9ec;
  padding: 20px 0px;

}
.bottom-footer-section p{
  margin-bottom: 0px;
  text-align: center;
   color:#676161;
    font-size: 17px;
}
.footermenu{
  display: flex;
  justify-content: center;
}
.footermenu ul{
  display: flex;
}
.footermenu  ul li{
padding: 0px 22px;
}
.footermenu ul li a{
      font-size: 22px;
    color: #505050;
}
.footermenu ul li a:hover{
     text-decoration: none;
    color: #3fbfc8;
}

#download-header:after{
      content: '';
    width: 60px;
    height: 19px;
    border-bottom: 2px solid #fff;
    position: absolute;
}
#googleplay-img img{
  display: flex;

}
#googleplay-img{
max-width: 200px;
    margin-top: 45px;
    margin-right: 25px;
}

#cold-box {
    background-color: #eff9fa;
  text-align: center;
    margin: auto;
    display: block;
        margin-left: 9px;
    margin-right: 9px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
        min-height: 160px;
  }
#cold-box h6{
  font-size: 20px;
}
.elementor-6 .elementor-element.elementor-element-74f6b63 {
    width: auto;
    display: block;
   margin: auto;
}
.elementor-6 .elementor-element.elementor-element-effdc21 {
      width: auto;
    display: block;
   margin: auto;
}
.elementor-6 .elementor-element.elementor-element-19ee3fc{
    width: auto;
    display: block;
   margin: auto;
}
.unique-box{
background-color: #fff;
    border-radius: 4px;
    padding: 30px 28px;
    box-shadow: 0px 0px 6px #9c9c9c;
  position:relative;
}
#unique-section{
  margin-top:25px;
}
.unique-box h4{
    font-size: 24px;
    padding-bottom: 9px;
}
.unique-box p{
font-size:18px; 
}
.number{
    position: absolute;
    background-color: #1ca1ab;
    padding: 4px 17px;
    border-radius: 25px;
    top: -16px;
    left: -11px;
    color: #fff;
    font-size: 24px;
}
#first-section{
  max-height:514px;
}
#second-section{
  max-height:506px;
}
#third-section{
    max-height:550px;
}
#forth-section{
    max-height:574px;
}
#fifth-section{
    max-height:560px;
}
#sixth-section {
    max-height:560px;
}
#dottedline-bg {
       display: block;
  left: -75%;
    right: 0px;
    margin: auto;
bottom: 37px;
  z-index: 999;
}
#dottedline-bg img{
  max-width:720px;
  z-index: 999;
}
#dottedline-bg1 {
        display: block;
    right: -39%;
    margin: auto;
    bottom: 19px;
    z-index: 999;
}
#dottedline-bg1 img{
  max-width:680px;
  z-index: 999;
}
#dottedline-bg3 {
           display: block;
    right: 75%;
    margin: auto;
    bottom: 33px;
    z-index: 999;
}
#dottedline-bg3 img{
    max-width: 723px;
  z-index: 999;
}
#dotted-line4-bg{
     display: block;
    right: 75%;
    margin: auto;
    bottom: 33px;
    z-index: 999;
}
#dotted-line4-bg img{
    max-width: 723px;
  z-index: 999;
}
#benefits-section{
  z-index: 1;
}
#freeadvice-section{
  max-width: 1300px;
  margin: auto;
  margin-top: 40px;

}
.freeadvice-box{
background-color: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
    margin: 68px 20px;
    padding: 76px 30px 8px 30px;
}
.freeadvice-box-img{
  max-width: 160px!important;
    margin: auto;
    display: block;
    /* margin-top: -86px; */
    z-index: 99999;
    position: absolute;
    top: -6px;
    left: 0px;
    right: 0px;
}
.freeadvice-box p{
  text-align: center;
  font-size: 20px;
}
#home .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#home .owl-dots .owl-dot.active {
background-color: #3fbfc8;
}

#home .owl-dots .owl-dot {
      background-color: #94e3e8;
    width: 13px;
    height: 13px;
    margin: 0px 4px;
    border-radius: 25px;
}
.elementor-6 .elementor-element.elementor-element-9d36c9d > .elementor-background-overlay {
opacity: 1!important;
}

#content{
  margin-top: -10px;
}
.testimonial-box{
    background-color: #f7f7f7;
    margin-top: 20px;
    padding:55px 28px 37px 28px;
    margin: 52px 20px;
    border-radius: 3px;
   box-shadow: 0px 15px 10px -17px #a7a7a7;  
    position: relative;
}
.testimonial-img{
  margin-top: 30px;
  position: absolute;
    left: 67px;
    top: -35px;
    z-index: 99999;
}
.testimonial-img img{
    max-width: 100px!important;
    
}
.testimonial-box h4{
    color: #736f6f;
    font-size: 25px;
    font-weight: 500;

}
.testimonial-box p{
    padding-top: 25px;
    text-align: center;
    font-size: 17px;
}
.star-icon .checked{
  color: #3fbfc8;
}

#testimonial .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#testimonial .owl-dots .owl-dot.active {
background-color: #3fbfc8;

    
}

#testimonial .owl-dots .owl-dot {
      background-color: #94e3e8;
    width: 13px;
    height: 13px;
    margin: 0px 4px;
    border-radius: 25px;
}
.nextend-arrow-previous{
      left: 80px!important;
    background-color: #43b7a678;
    border-radius: 25px;
    padding: 14px 14px;
}
.nextend-arrow-next {
   right: 80px!important;
    background-color: #43b7a678;
    border-radius: 25px;
    padding: 14px 14px;
}








/*media-query*/
@media(max-width: 991px){
  .mobile-menu{
display: block;
  }

.menu-ul{
  display: none;
}
.menu-ul.menu-show{
  display: block !important;
}
.desktop-menu{
  display: none;
}
.mobile-menu .menu{
  display: none;
}
.menu.menu-show{
      display: block!important;
    position: absolute;
    background-color: #3fbfc7;
    left: 0;
    right: 0;
    padding-bottom: 28px;
    border-bottom: 1px solid #fff;
    padding-top: 24px;
        top: 18px;
        z-index: 99999;
}
#nav-icon1 {
margin: -40px auto;
}
.menu-section ul >li >a {
    color: #fff;
    }
    .menu-section ul >li {
        line-height: 40px;
}
.menu-section .current-menu-item a:after {
   bottom: 4px;
    }
    .top-header-section{
      display: none;
    }
    #dottedline-bg1 img {
 display: none;
}
  #dottedline-bg img {
 display: none;
}
#dottedline-bg3 img{
  display: none;
}
.footermenu ul li {
    padding: 0px 10px;
}
.footermenu ul li a {
    font-size: 19px;
  }
  #cold-section #cold-box {
display: flex;
    justify-content: center;
    width: 100%;
    max-width: 260px;
    margin-bottom: 30px;
    }
}
@media (max-width: 767px){
.header-section {
    padding: 20px 0px;
}
#first-section {
    max-height: none;
}
#second-section {
    max-height: none;
}
#third-section {
    max-height: none;
}
#forth-section {
    max-height: none;
}
#fifth-section {
    max-height: none;
}
#sixth-section {
    max-height: none;
}
 #cold-section #cold-box {
 display: block!important;
    margin: auto;
    margin-bottom: 20px;
    }
.unique-box {
max-width: 300px;
    margin: auto;
}
.elementor-6 .elementor-element.elementor-element-294dbff {
   
    padding: 40px 30px 40px 30px!important;
}
.nextend-arrow-next {
  display: none!important;
   }
   .nextend-arrow-previous {
 display: none!important;
   }
}

@media (max-width: 480px){

.header-section img{
  max-width: 255px;
}
#nav-icon1 {
    margin: -40px auto!important;
}
}
@media (max-width: 1100px) and (min-width: 991px){
.email-section ul> li> a {
 font-size: 16px;
}
#third-section {
    max-height: 573px;
}
#forth-section {
    max-height: 590px;
}
#dottedline-bg1 img {
    max-width: 630px;
    }
    #second-section {
    max-height: 496px;
}
#fifth-section {
    max-height: 585px;
}
#cold-box{
 max-width: 179px;
margin-bottom: 20px;
}
}
@media (max-width: 1024px) and (min-width: 767px){

#dottedline-bg img {
    max-width: 602px!important;
    }
    #dottedline-bg1 img {
    max-width: 602px!important;
    }
    #second-section {
    max-height: 513px!important;
}
#fifth-section {
    max-height: 563px!important;
}
}
@media (max-width:645px){
.footermenu ul li {
    padding: 0px 5px!important;
}
.footermenu ul li a {
    font-size: 17px!important;
}
  }
  @media (max-width:400px){
  .footermenu ul {
    display: block;
  }
}
 